
<!-- Source: https://www.layoutit.com/build -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    See what your classmates are selling
                </h2>
                <p>
                    Here are all the textbooks available for sale. If you don't see the textbook you are looking for,
                </p>
                <a href="/add-buy" class="btn btn-outline-secondary" role="button">Add a textbook to buy</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">ISBN</th>
        <th scope="col">Price</th>
        <th scope="col">Contact</th>
    </tr>
    </thead>
    <tbody>
    {{#each objs}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.isbn}}</td>
            <td>{{this.price}}</td>
            <td>{{this.contact}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>