<!doctype html>
<html lang="en">
<!-- Source: https://getbootstrap.com/docs/4.3/getting-started/introduction/-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/custom.css">

    <script src="scripts/jquery-3.4.1.js"></script>
    <script src="scripts/parsley.min.js"></script>

    <title>NYU Textbook</title>
</head>

<navbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span id="navbar-span1">NYU</span><span id="navbar-span2">Textbook</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/sell">Sell</a>
                <a class="nav-item nav-link" href="/buy">Buy</a>
                <a class="nav-item nav-link" href="/mine">Mine</a>
            </div>
        </div>

        <form action="/home" method="GET" class="form-inline">
            <input class="form-control mr-sm-2" name="title" type="search" placeholder="Enter textbook title" aria-label="Search">
            <button class="btn-search" type="submit">Search</button>
        </form>

    </nav>
</navbar>
<body>

{{{body}}}

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<div class="container-fluid">
    <div class="border-top my-3"></div>
    <footer class="page-footer teal pt-4">

    <div class="container-fluid">
        <p>Thank you for visiting NYU Textbook.</p>
    </div>

    <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="https://github.com/nyu-csci-ua-0480-001-fall-2019/sylviaji-final-project">Sylvia Ji</a>
    </div>

</footer>
</div>

</html>